@import url("reset.css");

.app {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkturquoise;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;
}

.wrapper:hover .memes__title {
    color:black;
}

input[type="radio"]:checked~ .memes__preview .memes__title{
    color: black
}

.wrapper:hover .fa-plus {
    display: block;
}

.app__title {
    font-size: 3.8rem;
    padding-top: 3rem;
    font-weight:bold;
}

.underline {
    margin: 3rem 0;
    border-top: 1px solid grey;
}

.memes__item label {
    cursor: pointer;
}

.memes__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memes__item:hover .fa-xmark {
    display: block;
}

.memes__item:hover .fa-plus {
    display: none;
}

.fa-xmark {
    display: none;
    color:black;
}

.fa-plus {
    color:black;
    display: none;
}

.memes__title {
    font-size: 3.4rem;
    padding: 1.5rem 1.5rem 0.2rem 1.5rem;
    font-weight: bold;
}

.memes__image {
    text-align: center;
}

.memes__image img {
    width: 0px;
    background-color:darkgray;
    transition: .5s;
}

input[type="radio"] {
    display: none;
}

.memes__item:hover .memes__image img{
    width: 600px;
    border: 1px solid;
}

input[type="radio"]:checked ~ .memes__image img{
    width: 600px;
    border: 1px solid;
}

.wrapper:hover input[type="radio"]:checked~ .memes__preview .fa-xmark {
    display: block;
}

input[type="radio"]:checked~ .memes__preview .fa-plus {
    display: none;
}

@media (max-width: 820px) {

    .app__title {
        font-size: 3.4rem;
    }

    .memes__title {
        font-size: 3rem;
    }

    input[type="radio"]:checked ~ .memes__image img{
        width: 280px;
        border: 1px solid;
    }

    .underline {
        margin: 1.5rem 0;
        border-top: 1px solid grey;
    }
}

@media (max-width: 320px) {

    .app__title {
        font-size: 1.8rem;
    }

    .memes__title {
        font-size: 1.2rem;
    }

    input[type="radio"]:checked ~ .memes__image img{
        width: 220px;
        border: 1px solid;
    }

    .underline {
        margin: .5rem 0;
        border-top: 1px solid grey;
    }
}

